.navbar-brand {
  margin-left: 10px;
}

.ribbon-container {
  background-color: #fffec3;
  /* Background color for the ribbon */
  padding: 15px;
  border-radius: 0 10px 10px 0;
  /* Rounded edges for the ribbon */
  height: 100%;
  margin-bottom: 20px;
  /* Spacing between the ribbon and the game grid */
}

.instructions {
  margin-bottom: 20px;
}

.game-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.game-grid {
  display: grid;
  /* Use CSS Grid to create a grid layout */
  grid-template-columns: repeat(5, 1fr);
  /* Define 5 equal-width columns */
  justify-items: center;
  /* Center the items in the grid along the column axis */
  gap: 50px;
  /* Set a gap of 50px between grid items */
}

/* Add this to your styles.css file */

.footer {
  text-align: center;
  padding-top: 10px;
  background-color: #f0f0f0; /* Adjust the background color as needed */
  position: fixed;
  bottom: 0;
  width: 100%;
}


/************************************************************************************/

.btn {
  cursor: pointer;
  color: #c4c3c3;
  font-size: 1.5rem;
  border: 2px solid #fff;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

#reset {
  margin-top: 0.5rem;
}

#reset-highscore {
  margin-top: 0.5rem;
}

.btn:hover {
  color: var(--primary-color);
  background-color: var(--primary-color);
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  transition: margin 0.5s ease-out;
}

.stats .info {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.stats span {
  margin-left: 0.5rem;
  color: var(--primary-color);
}

.timer {
  border: 5px solid black;
  /* Border style and color */
  padding: 8px;
  /* Padding inside the box */
  border-radius: 10px;
  /* Border radius for rounded corners */
  font-weight: bold;
  float: center;
  display: flex;
  justify-content: center;
}

.info2 {
  justify-content: right;
  /* Float info2 to the right */
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden;
  cursor: crosshair;
  background-color: #0e0e0e;
}

.circle {
  position: absolute;
  background-color: green;
  animation: circle 2s linear forwards;
  border-radius: 50%;
}

/* Keyframes animation for shrinking circles for "Advanced" difficulty */
@keyframes shrink-circle {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

h1 {
  font-size: 5rem;
  color: #f0f0f0;
}

.board p {
  font-size: 1.5rem;
  color: #fff;
}

.difficulty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 10px;
}

